/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* ------------- general styling -open*/
   html{
    background-color: #fff;
     font-family: Arial, Helvetica, sans-serif; /* Simple arial used. If I had more time I would usually use fonts from https://fonts.google.com/ */
  }

  /* Unvisited link  */
  a {
    text-decoration: none;
    color:#01A4CD;
  }    
  a:visited {color:#0187a9;} /* Visited link    */
  a:hover {color:#01A4CD;}   /* Mouse over link */
  a:active {color:#01A4CD;}  /* Selected link   */
/* -------------general styling -close*/

   #container-outer {
    display: flex;
    padding: 0 3% 0 3%;
    flex-direction: column;
    background-color: #F1F1F1;
  }

  #main-area{
    flex: 1;
    background-color: #fff;
    padding: 10px;
  }

  #search-area{
    flex: 1;
    margin: 10px 0 10px 0;
    background-color: #fff;
    padding-bottom: 3em;
  }

  #submit-btn{
    /* display: flex;
    justify-content: flex-end; */
    float: right;
    color: black;
    padding: 10px 30px 10px 30px;
    margin: 10px 0 10px 0;;
  }

  #submit-btn:hover{
    color: black;
    background-color: #fffaec;
  }

  input{
    padding: 10px;
    background-color: #fff3ce;
    border-radius: 5px;
    border: none;
    color: #01A4CD;
  }

  input::placeholder{
    color: #01A4CD;
  }

  /* Form rows */
  #form-holder{
    width: 50%;
    margin-left: 30px;
  }

  .form-row{
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 10px 0;
  }

  .form-row > label {
    padding: .5em 1em .5em 0;
    flex: 1;
  }
  .form-row > input {
    flex: 2;
  }
  .form-row > input,
  .form-row > button {
    padding: .5em;
  }
  .form-row > button {
   background: gray;
   color: #fff;
   border: 0;
   justify-content: right;
  }

  #results-area{
    flex: 1;
    margin: 10px 0 10px 0;
    background-color: #fff;
    padding-bottom: 3em;
  }

  #main-title{
    display: flex;
    justify-content: center;
    font-size: 3.5em;
    font-weight: 200;
    font-family: Verdana, Geneva, sans-serif;
    color: #ec6d18;
  }

  .sub-heading{
    margin-left: 20px;
    color: #ee8b49;
    font-size: 1.5em;
    font-weight: 200;
    font-family: Verdana, Geneva, sans-serif;
  }

  .link-holder{
    display: flex;
    padding: 5px 0 5px 0;
  }

  .link-holder-outer{
    background-color: #fff3ce;
    border-radius: 8px;
    padding: 4px 15px 4px 15px;
    margin: 20px 30px 20px 30px;
    box-shadow: 5px 5px rgba(192, 192, 192, 0.6);
    -webkit-box-shadow: 5px 5px rgba(192, 192, 192, 0.6);
    -moz-box-shadow:  5px 5px rgba(192, 192, 192, 0.6);
  }

  .link-holder-outer:hover{
    background-color: #fffaec;
    box-shadow: rgba(192, 192, 192, 0.3);
    -webkit-box-shadow: rgba(192, 192, 192, 0.3);
    -moz-box-shadow:  rgba(192, 192, 192, 0.3);
  }

  #website-title{
    flex: 1;
    display: flex;
    align-items: center;
  }
  #website-url{
    flex: 1;
    display: flex;
    word-break: break-word;
    /* justify-content: center; */
    align-items: center;
  }
  .link-options{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .options-img{
    width: 30px;
    cursor: pointer;
    height: auto;
  }

  .link-holder-new-line{
    display: block;

  }

  #website-description{
    padding-bottom: 5px;
    font-size: .8em;
    color: #888888;
    max-width: 92%;
  }

  label {
    padding-right: 10px;
}

/* -------Pagination open */
#pagination-holder{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pagin {
  padding-inline-start: 0;
}

#pagin ul {
  padding-inline-start: 0;
}

#pagin li{
  display: inline-block;
  text-decoration: none;
  list-style-type: none;
}

#pagin li a{
  color: black;
  float: left;
  font-size: 2em;
  padding: 5px 20px;
  margin: 5px;
  background-color: #fff3ce;
  transition: background-color .3s;
}

#pagin li a:hover{
  background-color: #fffaec;
  transition: background-color .3s;
}

/* Style the active/current link */
#pagin .current {
  background-color: #ee8b49;
}
/* -------Pagination close */


/* -------Pop up open */
.customAlert{
  display: none;
  position: fixed;
  max-width: 25%;
  min-width: 250px; /* !important */
  min-height: 20%;
  height: 200px;
  left: 50%;
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background: #ee8b49;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(192, 192, 192, 0.6);
  -webkit-box-shadow: 5px 5px rgba(192, 192, 192, 0.6);
  -moz-box-shadow:  5px 5px rgba(192, 192, 192, 0.6);
}
  
  @media all and (max-width: 1300px){
    .message{
      font-size: 14px !important;
    }
    input[type='button']{
      height: 15% !important;
    }
  }
  
  .message{
    padding: 5px;
    color: #000;
    font-size: 1em;
    line-height: 20px;
    text-align: justify;
  }
    
  #alertConfirmButton{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    color: #000;
    background-color: #fff3ce;
    border-radius: 5px;
    border: none;
  }

  input[type='button']:hover{
      transition: 0.3s;
      cursor: pointer;
    	background-color: #fffaec;  
  } 

/* -------Pop up close */



/* -------Media Queries */
/* 0 till 575 Mobile only */
@media (max-width: 575px) {  
  #container-outer {
      padding: 0;
  }
  
  #main-title {
    font-size: 1.4em;
  }

  .sub-heading{
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    margin-left: 0;
  }

  #container-outer{
    padding: 0;
  }

  .link-holder-outer {
    margin-left: 5px;
    margin-right: 5px;
}

  #form-holder{
    width: auto;
    margin: 0 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .customAlert{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    left: 0;
    max-width: 100%;
    min-width: 100px;
  }

}

/* Small devices -sm (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #container-outer {
    padding: 0 1% 0 1%;
  }
}

/* Medium devices -md (tablets, 768px and up) */
@media (min-width: 768px) {  
  #container-outer {
    padding: 0 2% 0 2%;
  }

  .link-holder-outer {
    margin-left: 10px;
    margin-right: 10px;
}

#form-holder{
  width: 80%;
}

}


/* Extra large devices -xl (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  #container-outer {
    padding: 0 4% 0 4%;
  }

  .link-holder-outer {
    margin-left: 30px;
    margin-right: 30px;

}
}

/* Extra large devices -xxl (large desktops, 1700px and up) */
@media (min-width: 1700px) {  
  #container-outer {
    padding: 0 6% 0 6%;
  }

  .link-holder-outer {
    margin-left: 40px;
    margin-right: 40px;
}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

